extends layout

block content
  
  h1= title
  - let results=[{WatchId:"WI01",Watch_Price:50,Watch_Style :"Analog"},{WatchId:"WI98",Watch_Price:64,Watch_Style :"Digital"},{ WatchId: "WI192", Watch_Price: 89, Watch_Style: "Analog" }]
  div(class="container-fluid")
  div(class="row")
   each value,index in results
    div(class="col-sm-2" onclick=`buy(${index})`)  Watch ID:#{value.WatchId} , price : #{value.Watch_Price}, Style: #{value.Watch_Style}
   script.
    function buy(index)
    {
      alert(`Your purchased Item ${index}`)
    }
  

